<h1 mat-dialog-title>Nova reunião</h1>

<form class="example-form" [formGroup]="formularioReuniao" (ngSubmit)="salvar()">
    
    <input type="hidden" formControlName="id" name="id">

    <mat-form-field class="example-full-width">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título" formControlName="titulo" name="titulo">
    </mat-form-field>    

    <mat-form-field class="example-full-width">
        <mat-label>Assunto</mat-label>
        <input matInput placeholder="Assunto" formControlName="assunto" name="assunto">
    </mat-form-field>    

    <mat-form-field class="example-full-width">
        <mat-label>Responsável</mat-label>
        <input matInput placeholder="Responsável" formControlName="responsavel" name="responsavel">
    </mat-form-field>        

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>    

    <mat-form-field class="example-full-width">
        <mat-label>Horário</mat-label>
        <input matInput type="time" formControlName="horario">
    </mat-form-field>    

    <div mat-dialog-actions>
        <button mat-raised-button color="warn" type="button" (click)="fechar()"> Cancelar </button>
        <button mat-raised-button color="primary" [disabled]="!formularioReuniao.valid"> Salvar </button>
    </div>
</form>
