<mat-grid-list cols="2" rowHeight="75px">
  <mat-grid-tile>
    <div class="div-filtro">
      <form [formGroup]="formularioFiltro" (ngSubmit)="filtrar()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput placeholder="título da reunião" formControlName="titulo">
        </mat-form-field>
  
        <button mat-raised-button color="primary">
          <mat-icon>search</mat-icon>        
        </button>
      </form>
    
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="div-botao-cadastrar">
      <button mat-raised-button color="primary" (click)="cadastrar()" >
        <mat-icon>add</mat-icon>
        Nova Reunião
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="div-spinner" *ngIf="carregando">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="mat-elevation-z8 div-tabela">
  <table mat-table [dataSource]="reunioes">    
    
    <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let reuniao"> {{reuniao.titulo}} </td>
      </ng-container>
      
      <ng-container matColumnDef="assunto">
        <th mat-header-cell *matHeaderCellDef> Assunto </th>
        <td mat-cell *matCellDef="let reuniao"> {{reuniao.assunto}} </td>
      </ng-container>
      
      <ng-container matColumnDef="responsavel">
        <th mat-header-cell *matHeaderCellDef> Responsável </th>
        <td mat-cell *matCellDef="let reuniao"> {{reuniao.responsavel}} </td>
      </ng-container>
      
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let reuniao"> {{reuniao.data | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let reuniao"> {{reuniao.horario}} </td>
      </ng-container>
      
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let reuniao">
          <button mat-raised-button color="primary" (click)="editar(reuniao)">
            <mat-icon>edit</mat-icon>          
          </button>
                  
          <button mat-raised-button color="warn" (click)="excluir(reuniao)">
            <mat-icon>delete</mat-icon>          
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 20]" [length]="length" (page)="paginacao($event)">
  </mat-paginator>
</div>