table {
    width: 100%;
}

button {
    margin-right: 5px;
    margin-left: 5px;
}

.div-spinner {    
    display: flex;
    justify-content: center;
}

.div-tabela {    
    margin: 25px;    
}
  
.div-botao-cadastrar {
    width: 100%;
    text-align: right;
    margin-right: 25px;
}

.div-filtro {
    width: 100%;
    text-align: left;
    margin-left: 25px;     
}