<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Agenda</span>      
      <mat-icon>date_range</mat-icon>

      <span class="example-spacer"></span>      
      
      <button mat-icon-button (click)="abrirSobre()">
        <mat-icon>info</mat-icon>        
      </button>

    </mat-toolbar-row>            
</mat-toolbar>
