<p>Projeto desenvolvido por <a target="_blank" href="https://www.linkedin.com/in/jancleiton-nunes/">Jancleiton Nunes</a> durante o curso 
    <a target="_blank" href="https://www.udemy.com/course/angular-10-material-mobile-baas/">Angular 10 - Material Design com Mobile Baas (Só prática)</a> do Francis Rocha.</p> 

<p>Neste projeto é usado  </p>

<mat-list role="list">
    <mat-list-item role="listitem"><a target="_blank" href="https://angular.io/">Angular</a></mat-list-item>
    <mat-list-item role="listitem"><a target="_blank" href="https://material.angular.io/">Angular Material</a></mat-list-item>
    <mat-list-item role="listitem"><a target="_blank" href="https://mobilebaas.com/">Mobile Baas</a></mat-list-item>
</mat-list>

