<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p>{{ titulo }}</p>  
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="cancelou()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="confirmou()">Ok</button>
</div>